<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{system/base/layout}">
<div layout:fragment="content">

    <div class="container">
        <h1>酒店管理</h1>
        <div class="row clearfix">
            <form name="search-form" class="form-inline m-b-10 clearfix" th:action="@{/system/hotelListUI}"
                  id="search-form">
            </form>

            <div align="right" style="float:right">
                <button type="button" onclick="reset()" class="btn btn-default btn-warning">增加</button>
            </div>
            <div class="col-md-12 column">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>name</th>
                        <th>image</th>
                        <th>describe</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="hotel:${page.content}">
                        <td th:text="${hotel.name}"></td>
                        <td th:text="${hotel.image}"></td>
                        <td th:text="${hotel.describe}"></td>
                        <td>
                            <div align="left" style="float:left">
                                <button type="button" class="btn btn-default btn-info">按钮</button>
                            </div>
                            <div th:if="${hotel.status== 0}" align="left">
                                <button type="button" class="btn btn-default btn-danger">禁用</button>
                            </div>
                            <div th:if="${hotel.status== 1}" align="left">
                                <button type="button" class="btn btn-default btn-success">启用</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:insert="~{base/pageable}"></div>
    </div>
    <!--弹框-->
    <div class="modal fade" id="exampleModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form method="post" name="insertMember"
                          id="insertMember" class="form-horizontal">
                        <!--隐藏的-->
                        <input type="text" id="userId" name="userId" hidden>

                        <div class="form-group m-b-10" style="text-align:right">
                            <label class="col-sm-4 control-label">用户组：</label>
                            <div class="col-sm-7">
                                <select id="groupId" name="groupId" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-b-10" style="text-align:right">
                            <label class="col-sm-4 control-label">角色：</label>
                            <div class="col-sm-7">
                                <select name="role" id="role" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div id="usernameDiv" class="form-group m-b-10" style="text-align:right">
                            <label class="col-sm-4 control-label">
                                <label id="showCheckUserName"
                                       style="color: red;display: none;">该用户名已存在</label>
                                <label style="color: red">*</label>用户名：
                            </label>
                            <div class="col-sm-7">
                                <input type="text" th:onblur="'javascript:checkUserName(this.value)'"
                                       class="form-control" id="username" name="username">
                            </div>
                        </div>
                        <div class="form-group m-b-10" style="text-align:right">
                            <label class="col-sm-4 control-label">邮箱：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="trueEmail" name="trueEmail">
                            </div>
                        </div>
                        <div class="form-group m-b-10" style="text-align:right">
                            <label class="col-sm-4 control-label">
                                <label style="color: red">*</label>真实姓名：
                            </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="trueName" name="trueName">
                            </div>
                        </div>
                        <div class="form-group m-b-10" style="text-align:right">
                            <label class="col-sm-4 control-label">所在单位：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="organization"
                                       name="organization">
                            </div>
                        </div>
                        <div class="form-group m-b-10" style="text-align:right">
                            <label class="col-sm-4 control-label">通讯地址：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="address" name="address">
                            </div>
                        </div>
                        <div class="form-group m-b-10" style="text-align:right">
                            <label class="col-sm-4 control-label">邮编：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="postalcode"
                                       name="postalcode">
                            </div>
                        </div>
                        <div class="form-group m-b-10" style="text-align:right">
                            <label class="col-sm-4 control-label">手机号码：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="phone" name="phone">
                            </div>
                        </div>
                        <div class="form-group m-b-10" style="text-align:right">
                            <label class="col-sm-4 control-label">固定电话：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="telephone" name="telephone">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-info" onclick="submitMarker()">提交</button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function reset() {
            $('#exampleModalLabel').text('新增酒店');
            //用户名----显示
            $('#username').val('');
            $('#usernameDiv').show();
            $('#showCheckUserName').hide();
            //邮箱
            $('#trueEmail').val('');
            //真实姓名
            $('#trueName').val('');
            //所在单位
            $('#organization').val('');
            //通讯地址
            $('#address').val('');
            //邮编
            $('#postalcode').val('');
            //手机号码
            $('#phone').val('');
            //固定号码
            $('#telephone').val('');
            //其他属性 userId
            $('#userId').val('');
            //打开模态框
            $('#exampleModal').modal('show')
        }
    </script>
</div>
</html>
