<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{system/base/layout}">
<div layout:fragment="content">

    <div class="container">
        <h1>酒店管理</h1>
        <div class="row clearfix">
            <form name="search-form" class="form-inline m-b-10 clearfix" th:action="@{/system/hotelListUI}"
                  id="search-form">
            </form>
            <div class="col-md-12 column">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>name</th>
                        <th>image</th>
                        <th>describe</th>
                        <th width="100px">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="hotel:${page.content}">
                        <td th:text="${hotel.name}"></td>
                        <td th:text="${hotel.image}"></td>
                        <td th:text="${hotel.describe}"></td>
                        <td th:text="${hotel.id}"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div th:insert="~{base/pageable}"></div>
    </div>
    <script th:inline="javascript">
    </script>
</div>
</html>
