<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{base/layout}">
<div layout:fragment="content">
    <!--slider section-->
    <div class="slider_wrapper">
        <div class="slider-pro" id="my-slider">
            <div class="sp-slides">

                <div class="sp-slide">
                    <h3 class="sp-layer sp-black sp-padding hide-small-screen" data-width="80%" data-position="topRight"
                        data-horizontal="8%" data-vertical="25%" data-show-transition="right" data-hide-transition="up"
                        data-show-delay="800" data-hide-delay="100">
                        <span class="title-aaa">明阳旅行</span>——明阳旅行最新版是针对全国定制旅游的社区化APP,涵盖美食、攻略资讯、酒店预订和景点推荐等功能.还内具好友圈、说说、长贴、关注等社交性功能,你还可以在这里分享你的游玩日记与生活动态,即时分享你的快乐.找攻略、订酒店、查交通全都有,给你提供一站式的旅游社区化服务.
                        <span class="read-more"><a href="javascript:void(0);">查看更多</a></span>
                    </h3>
                </div>
                <div class="sp-slide">
                    <h3 class="sp-layer sp-black sp-padding hide-small-screen" data-width="80%" data-position="topRight"
                        data-horizontal="8%" data-vertical="25%" data-show-transition="right" data-hide-transition="up"
                        data-show-delay="800" data-hide-delay="100">
                        <span class="title-aaa">明阳旅行</span>——明阳旅行最新版是针对全国定制旅游的社区化APP,涵盖美食、攻略资讯、酒店预订和景点推荐等功能.还内具好友圈、说说、长贴、关注等社交性功能,你还可以在这里分享你的游玩日记与生活动态,即时分享你的快乐.找攻略、订酒店、查交通全都有,给你提供一站式的旅游社区化服务.
                        <span class="read-more"><a href="javascript:void(0);">查看更多</a></span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="main-page-container">
        <div class="container">
            <div class="row med_toppadder30">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cy-title">
                        <h2>热门客栈</h2>
                        <div class="pull-right">
                            <div class="main-tabs">
                                <ul class="nav nav-tabs">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="main-cont">
                        <div class="tab-content">
                            <div class="tab-pane active" id="c01">
                                <div id="oc-news" class="owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="cy-news-post clearfix">
                                            <div class="entry-image">
                                                <a href="#"><img class="image_fade" th:src="@{/images/hotel_1.jpg}"
                                                                 alt="Image"></a>
                                            </div>
                                            <div class="entry-title">
                                                <h4><a href="javascript:void(0);" data-toggle="tooltip"
                                                       data-container="body"
                                                       title="xxxxxxxxxxxxxxxxxxxxxxxx">888888888888888888888888</a>
                                                </h4>
                                            </div>
                                            <div class="entry-content">
                                                <p>呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                                                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                                                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵</p>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><i class="fa fa-calendar"></i> 2019-03-13</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="cy-news-post clearfix">
                                            <div class="entry-image">
                                                <a href="javascript:void(0);"><img class="image_fade"
                                                                                   th:src="@{/images/pic-news02.jpg}"
                                                                                   alt="Image"></a>
                                            </div>
                                            <div class="entry-title">
                                                <h4><a href="javascript:void(0);" data-toggle="tooltip"
                                                       data-container="body"
                                                       title="xxxxxxxxxxxxxxxxxxxxxxxx">777777777777777777777777</a>
                                                </h4>
                                            </div>
                                            <div class="entry-content">
                                                <p>呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                                                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                                                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵</p>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><i class="fa fa-calendar"></i> 2019-03-13</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="cy-news-post clearfix">
                                            <div class="entry-image">
                                                <a href="javascript:void(0);"><img class="image_fade"
                                                                                   src="images/pic-news03.jpg"
                                                                                   alt="Image"></a>
                                            </div>
                                            <div class="entry-title">
                                                <h4><a href="javascript:void(0);" data-toggle="tooltip"
                                                       data-container="body"
                                                       title="xxxxxxxxxxxxxxxxxxxxxxxx">666666666666666666666666</a>
                                                </h4>
                                            </div>
                                            <div class="entry-content">
                                                <p>呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                                                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                                                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵</p>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><i class="fa fa-calendar"></i> 2019-03-13</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="cy-news-post clearfix">
                                            <div class="entry-image">
                                                <a href="javascript:void(0);"><img class="image_fade"
                                                                                   src="images/pic-news04.jpg"
                                                                                   alt="Image"></a>
                                            </div>
                                            <div class="entry-title">
                                                <h4><a href="javascript:void(0);" data-toggle="tooltip"
                                                       data-container="body"
                                                       title="xxxxxxxxxxxxxxxxxxxxxxxx">555555555555555555555555</a>
                                                </h4>
                                            </div>
                                            <div class="entry-content">
                                                <p>呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                                                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                                                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵</p>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><i class="fa fa-calendar"></i> 2019-03-13</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="cy-news-post clearfix">
                                            <div class="entry-image">
                                                <a href="javascript:void(0);"><img class="image_fade"
                                                                                   src="images/pic-news01.jpg"
                                                                                   alt="Image"></a>
                                            </div>
                                            <div class="entry-title">
                                                <h4><a href="javascript:void(0);" data-toggle="tooltip"
                                                       data-container="body"
                                                       title="xxxxxxxxxxxxxxxxxxxxxxxx">444444444444444444444444</a>
                                                </h4>
                                            </div>
                                            <div class="entry-content">
                                                <p>呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                                                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                                                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵</p>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><i class="fa fa-calendar"></i> 2019-03-13</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="cy-news-post clearfix">
                                            <div class="entry-image">
                                                <a href="javascript:void(0);"><img class="image_fade"
                                                                                   src="images/pic-news02.jpg"
                                                                                   alt="Image"></a>
                                            </div>
                                            <div class="entry-title">
                                                <h4><a href="javascript:void(0);" data-toggle="tooltip"
                                                       data-container="body"
                                                       title="xxxxxxxxxxxxxxxxxxxxxxxx">333333333333333333333333</a>
                                                </h4>
                                            </div>
                                            <div class="entry-content">
                                                <p>呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                                                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                                                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵</p>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><i class="fa fa-calendar"></i> 2019-03-13</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="cy-news-post clearfix">
                                            <div class="entry-image">
                                                <a href="javascript:void(0);"><img class="image_fade"
                                                                                   src="images/pic-news03.jpg"
                                                                                   alt="Image"></a>
                                            </div>
                                            <div class="entry-title">
                                                <h4><a href="javascript:void(0);" data-toggle="tooltip"
                                                       data-container="body"
                                                       title="xxxxxxxxxxxxxxxxxxxxxxxx">222222222222222222222222</a>
                                                </h4>
                                            </div>
                                            <div class="entry-content">
                                                <p>呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                                                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                                                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵</p>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><i class="fa fa-calendar"></i> 2019-03-13</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="cy-news-post clearfix">
                                            <div class="entry-image">
                                                <a href="javascript:void(0);"><img class="image_fade"
                                                                                   src="images/pic-news04.jpg"
                                                                                   alt="Image"></a>
                                            </div>
                                            <div class="entry-title">
                                                <h4><a href="javascript:void(0);" data-toggle="tooltip"
                                                       data-container="body"
                                                       title="xxxxxxxxxxxxxxxxxxxxxxxx">111111111111111111111111</a>
                                                </h4>
                                            </div>
                                            <div class="entry-content">
                                                <p>呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                                                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                                                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵</p>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><i class="fa fa-calendar"></i> 2019-03-13</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="tab-pane" id="c02">...</div> -->
                        </div>
                    </div>

                </div>
            </div>
            <div class="row med_bottompadder30">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="cy-title">
                        <h2>旅行游记</h2>
                        <div class="pull-right">

                            <div class="main-tabs">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a href="javascript:void(0);" target="_blank">更多 <i
                                                class="fa fa-angle-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="main-cy-thesis">
                        <li><a href="javascript:void(0);" data-toggle="tooltip" data-container="body"
                               title="xxxxxxxxxxxx">xxxxxxxxxxxx</a></li>
                        <li><a href="javascript:void(0);" data-toggle="tooltip" data-container="body"
                               title="xxxxxxxxxxxx">xxxxxxxxxxxx</a></li>
                        <li><a href="javascript:void(0);" data-toggle="tooltip" data-container="body"
                               title="xxxxxxxxxxxx">xxxxxxxxxxxx</a></li>
                        <li><a href="javascript:void(0);" data-toggle="tooltip" data-container="body"
                               title="xxxxxxxxxxxx">xxxxxxxxxxxx</a></li>
                        <li><a href="javascript:void(0);" data-toggle="tooltip" data-container="body"
                               title="xxxxxxxxxxxx">xxxxxxxxxxxx</a></li>
                        <li><a href="javascript:void(0);" data-toggle="tooltip" data-container="body"
                               title="xxxxxxxxxxxx">xxxxxxxxxxxx</a></li>
                        <li><a href="javascript:void(0);" data-toggle="tooltip" data-container="body"
                               title="xxxxxxxxxxxx">xxxxxxxxxxxx</a></li>
                        <li><a href="javascript:void(0);" data-toggle="tooltip" data-container="body"
                               title="xxxxxxxxxxxx">xxxxxxxxxxxx</a></li>
                        <li><a href="javascript:void(0);" data-toggle="tooltip" data-container="body"
                               title="xxxxxxxxxxxx">xxxxxxxxxxxx</a></li>
                        <li><a href="javascript:void(0);" data-toggle="tooltip" data-container="body"
                               title="xxxxxxxxxxxx">xxxxxxxxxxxx</a></li>
                        <li><a href="javascript:void(0);" data-toggle="tooltip" data-container="body"
                               title="xxxxxxxxxxxx">xxxxxxxxxxxx</a></li>
                        <li><a href="javascript:void(0);" data-toggle="tooltip" data-container="body"
                               title="xxxxxxxxxxxx">xxxxxxxxxxxx</a></li>
                    </ul>
                    <div class="cy-title">
                        <h2>热门景点</h2>
                        <div class="pull-right">

                            <div class="main-tabs">
                                <ul class="nav nav-tabs">
                                    <!--<li class="active">-->
                                    <!--<a href="#cp01" data-toggle="tab">快讯</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                    <!--<a href="#cp02" data-toggle="tab">报告</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                    <!--<a href="#cp03" data-toggle="tab">自建数据库</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                    <a href="javascript:void(0);" target="_blank">更多 <i
                                            class="fa fa-angle-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="main-cont">
                        <div class="tab-content">
                            <div class="tab-pane active" id="cp01">
                                <div id="oc-kx" class="owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="cy-kx-post clearfix">
                                            <a href="javascript:void(0);">
                                                <div class="entry-image">
                                                    <img class="image_fade" src="images/pic-kx01.jpg" alt="Image">
                                                </div>

                                                <div class="entry-content">
                                                    <p>xxxxxxxxxxxx</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="cy-kx-post clearfix">
                                            <a href="javascript:void(0);">
                                                <div class="entry-image">
                                                    <img class="image_fade" src="images/pic-kx02.jpg" alt="Image">
                                                </div>

                                                <div class="entry-content">
                                                    <p>xxxxxxxxxxxx</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="cy-kx-post clearfix">
                                            <a href="javascript:void(0);">
                                                <div class="entry-image">
                                                    <img class="image_fade" src="images/pic-kx03.jpg" alt="Image">
                                                </div>

                                                <div class="entry-content">
                                                    <p>xxxxxxxxxxxx</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="cy-kx-post clearfix">
                                            <a href="javascript:void(0);">
                                                <div class="entry-image">
                                                    <img class="image_fade" src="images/pic-kx04.jpg" alt="Image">
                                                </div>

                                                <div class="entry-content">
                                                    <p>xxxxxxxxxxxx</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="cy-kx-post clearfix">
                                            <a href="javascript:void(0);">
                                                <div class="entry-image">
                                                    <img class="image_fade" src="images/pic-kx01.jpg" alt="Image">
                                                </div>

                                                <div class="entry-content">
                                                    <p>xxxxxxxxxxxx</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="cy-kx-post clearfix">
                                            <a href="javascript:void(0);">
                                                <div class="entry-image">
                                                    <img class="image_fade" src="images/pic-kx02.jpg" alt="Image">
                                                </div>

                                                <div class="entry-content">
                                                    <p>xxxxxxxxxxxx</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="cy-kx-post clearfix">
                                            <a href="javascript:void(0);">
                                                <div class="entry-image">
                                                    <img class="image_fade" src="images/pic-kx03.jpg" alt="Image">
                                                </div>

                                                <div class="entry-content">
                                                    <p>xxxxxxxxxxxx</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="cy-kx-post clearfix">
                                            <a href="javascript:void(0);">
                                                <div class="entry-image">
                                                    <img class="image_fade" src="images/pic-kx04.jpg" alt="Image">
                                                </div>

                                                <div class="entry-content">
                                                    <p>xxxxxxxxxxxx</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- <div class="tab-pane" id="c02">...</div> -->
                        </div>
                    </div>
                    <div class="cy-title">
                        <h2>安全中心</h2>
                    </div>
                    <ul class="main-cy-service">
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <i class="li_lab"></i>
                                    <p>xxxxxxxxxxxx</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <i class="li_search"></i>
                                    <p>xxxxxxxxxxxx</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <i class="li_display"></i>
                                    <p>xxxxxxxxxxxx</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <i class="li_news"></i>
                                    <p>xxxxxxxxxxxx</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <i class="li_note"></i>
                                    <p>xxxxxxxxxxxx</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <i class="li_pen"></i>
                                    <p>xxxxxxxxxxxx</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="cy-title">
                        <h2>订阅信息</h2>
                    </div>
                    <div class="text-center med_toppadder5">
                        <img src="images/pic-wx-qrcode1.jpg" width="200px" alt="">
                        <p class="med_toppadder10">请关注微信号</p>
                    </div>
                    <div class="cy-title">
                        <h2>友情链接</h2>
                    </div>
                    <ul class="cy-link">
                        <li><a href="javascript:void(0);">百度</a></li>
                        <li><a href="javascript:void(0);">QQ</a></li>
                        <li><a href="javascript:void(0);">微博</a></li>
                        <li><a href="javascript:void(0);">空间</a></li>
                    </ul>
                    <div class="cy-title">
                        <h2>联系我们</h2>
                    </div>
                    <ul class="cy-contact">
                        <li><i class="fa fa-map-marker"></i> 地址：xxxxxxxxxxxx</li>
                        <li><i class="fa fa-compass"></i> 邮编：xxxxxxxxxxxx</li>
                        <li><i class="fa fa-phone"></i> 电话：xxxxxxxxxxxx</li>
                        <li><i class="fa fa-envelope"></i> 电子邮箱：xxxxxxxxxxxx</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--main section end-->
    <script src="js/jquery_min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="plugins/slider-pro/js/jquery.sliderPro.min.js"></script>
    <script src="plugins/owlcarousel/js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
    <!--js code-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#my-slider').sliderPro({
                arrows: true,
                waitForLayers: true,
                autoplay: false,
                fade: true,
                buttons: false,
                autoScaleLayers: false,
                width: 1170,
                height: 400
            });
            $('.image_fade').hover(function () {
                $(this).filter(':not(:animated)').animate({opacity: 0.8}, 400);
            }, function () {
                $(this).animate({opacity: 1}, 400);
            });
            $("#oc-news").owlCarousel({
                margin: 30,
                nav: true,
                loop: true,
                // autoplay:true,
                // autoplayTimeout:6000,
                // autoplayHoverPause: true,
                dots: false,
                navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
                responsive: {
                    0: {items: 1},
                    480: {items: 2},
                    768: {items: 3},
                    992: {items: 4}
                }
            });
            $("#oc-kx").owlCarousel({
                margin: 15,
                nav: true,
                loop: true,
                // autoplay:true,
                // autoplayTimeout:5000,
                // autoplayHoverPause: true,
                dots: false,
                navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
                responsive: {
                    0: {items: 1},
                    480: {items: 2},
                    768: {items: 3},
                    992: {items: 4}
                }
            });
        });
    </script>
</div>
</html>
