<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>明阳旅行后端管理系统</title>
</head>
<body style="text-align:center">
<div class="container" style="margin:300 auto;">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h1>明阳旅行后端管理系统</h1>
            <form role="form" method="post" th:action="@{/system/login}">
                <div class="form-group">
                    <label>账号</label>
                    <input name="username" type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input name="password" type="text" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
