<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{system/base/layout}">
<div layout:fragment="content">

    <h1>这里是userList</h1>
    <div class="col-md-12 column">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th width="150px">id</th>
                <th width="170px">username</th>
                <th width="150px">password</th>
                <th width="700px">name</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${page.content}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:insert="~{base/pageable}"></div>
    <script th:inline="javascript">
    </script>
</div>
</html>
